@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    font-family: 'Inconsolata';
    font-weight: 500;
}

:root{
    --primary:#CCD6F6;
    --sec:#8890b0;
    --bg:#0A192F;
    --bg2:#233554;
    --third:#64ffda;

}

body{
    background-color: var(--bg);
    width: 100%;
}

a{
    text-decoration: none;
}

nav{
    margin-top: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 4%;
    gap: 35px;
}


nav>img{
    height: 50px;
    width: 40px;
}

#BtnLogin{
    font-family: 'Roboto';
    font-size: 1rem;
    background-color: var(--third);
    border: solid 1.5px var(--third);   
    color: rgb(54, 54, 54);
    padding: 10px 11px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#BtnLogin:hover{ 
    background-color: var(--bg);
    color: var(--third);
    transform: scale(1.1);
}


.nav-items{
    background-color: var(--bg);
    color: var(--primary);
    font-size: 1rem;
}

.nav-items:hover{
    color: var(--third);
}

.open-nav, .close-nav{
    display: none;
}


.homepage-content{
    display: flex;
    gap: 7%;
    margin-top: 140px;
    margin-left: 15%;
    margin-right: 1%;
}



.container2>img{
    width: 400px;
    height: 400px;
    border-radius: 300px;
    padding: 10px;
    border: solid 0.2px var(--third);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container2>img:hover{
    transform: scale(1.05);
    background-color: #233554;
}

.container{
    margin-top: 40px;
}

.container>h1{
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
    font-size: 4.5rem;
}
.container>h2{
    color: var(--third);
    font-size: 1.2rem;
}

.container>h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--sec);
}

#check-out{
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg);
    border: solid 1.5px var(--third);
    border-radius: 5px;
    color: var(--third);
    padding: 13px 20px;
    margin-top: 35px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

#check-out:hover{
    transform: scale(1.1);
    color: var(--bg);
    background-color: var(--third);
    
}

footer{
    z-index: -1;
    color: var(--sec);
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;

}

.left-footer{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: auto;
    margin-left: 3%;
    
}

.left-footer>img{
    width: 25px;
    transition: all 0.3s ease-in-out;
    color: var(--third);
    cursor: pointer;
}

.left-footer>img:hover{
    transform: scale(1.5);

}

.right-footer{
    margin-left: auto;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    gap: 20px;


}

.footer-mail{
    font-size: 0.9rem;
    cursor: pointer;
    text-orientation: sideways-right;
    writing-mode: vertical-lr;
    letter-spacing: 1px;
   font-weight: 600;
}


.footer-mail:hover{
    color: var(--third);
    transform: scale(1.1);
}



.line{
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid var(--primary);
    height: 120px;
}


/*css per la pagine progetti */

.card-container{
    display: flex;
    flex-direction: column;

}

.project-title{
    justify-content: left;
    flex-direction: row;
    margin-left: 17%;
    margin-top: 5%;
    color: white;
}



.project-container{
    display: flex;
    gap: 10%;
    justify-content: center;
    border: 1px solid var(--third);
    border-radius: 20px;
    margin: 1% 15%;
    padding: 4% 3%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    
}

#project2{
    flex-direction: row-reverse;
}

.project-container:hover{
    border: 3px solid var(--third);
    border-radius: 20px;
    transform: scale(1.02);
    background-color: var(--bg2);
}

.project-container>img{
    width: 550px;
    border-radius: 15px;
}

.project-description{
    color: var(--primary);
    text-align: center;
}

.project-description>h2{
    font-size: 2.5rem;
}

.project-description>h3{
    font-size: 1.4rem;
    margin-top: 40px;
    color: var(--third);
}

.tech-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.tech-container>img{
    width: 50px;
}


.project-description>p{
    padding-top: 20px;
    font-size: 1rem;
}

.project-description>button{
    align-self: flex-end;
    font-family: 'Roboto';
    background-color: var(--bg);
    border: solid 1.5px var(--third);   
    color: var(--third);
    padding: 15px 20%;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-top: 10%;
    font-size: 100%;
}

.project-description>button:hover{
    background-color: var(--third);
    color: var(--bg);
    transform: scale(1.1);
}




/*css per la pagina contatti */

.conferma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    gap: 20px;
    margin-top: 200px;
}


.contact-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 150px auto;
    width: 50%;
    color: white;
    gap: 20px;
    border: #0A192F;
    border-radius: 20px;
    padding: 50px;
    transition: all 0.3s ease-in-out;
}

.contact-container:hover{
    background-color: var(--bg2);
    border: solid 1px var(--third);
    border-radius: 20px;
    transform: scale(1.02);
}

.contact-container>input, textarea{
   margin-left: auto;
   margin-right: auto;
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

.contact-container>button{
    align-self: center;
    font-family: 'Roboto';
    background-color: var(--bg);
    border: solid 1.5px var(--third);   
    color: var(--third);
    padding: 15px 20%;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin: 1%;
    font-size: 100%;
}

.contact-container>button:hover{
    background-color: var(--third);
    color: var(--bg);
    transform: scale(1.1);
}

textarea{
    height: 70px;
}




@media (max-width: 1300px){  /*responsive */
   
    .close-nav{
        margin-right: 0;
        margin-left: auto;
    } 

    .close-nav>img{
        cursor: pointer;
        padding: 15px;
        height: 40px;
    }

    .open-nav{
        display: flex;
       margin-left: auto;
       padding-right: 30px;
       padding-top: 15px;
       width: 5%;
       margin-right: 0;;
       font-size: 10px;
   }

   #burger-menu{
    cursor: pointer;
       height: 50px;
       width: 40px;
   }

   .close-nav:hover{
       transform: scale(1.1);
   }

    nav{
        position: fixed;
        top: 0;
        right: 0;
        padding: 0;
        margin: 0;
        z-index: 2;
        background-color: var(--bg2);
        width: 60%;
        margin-left: auto;
        display: none;
        flex-direction: column;
        height: 100%;
        gap: 0px;
    }

    #first-nav-item{
        margin-top: 30px;
    }

    .nav-items{
        height: 10;
        background-color: var(--bg2);
        width: 100%;
        text-align: center;
        padding: 20px 0px;
        color: var(--primary);
        font-size: 1.2rem;
    }

    

    .nav-items:hover{
        background-color: var(--bg);
        color: var(--third);
    }

    .homepage-content{
        flex-direction: column-reverse;
        margin: 15% auto;
        padding: 10px;
        justify-content: center;
        text-align: center;
    }

    .container2>img{
        height: 300px;
        width: 300px;
    }

    #BtnLogin{
        margin-top: 20px;
    }

   

    


   
    .project-title{
        margin: 60px 0px;
        text-align: center;
        font-size: 0.8rem;
    }
    
    .project-container{
        flex-wrap: wrap;
        border: none;
        padding: 5%;
        margin: 2%;
    }

    .project-container:hover{
        border: none;
    }

    .project-container>img{
        width: 200px;
        margin-bottom: 5%;
    }

    .tech-container{
        flex-wrap: wrap;
    }

    .contact-container{
        text-align: center;
    }
    .contact-container>input,textarea{
        width: 100%;
    }

    footer{
        display: none;
    }


    


}


span{
    color: var(--third);
}

